@use '../../../styles/abstract/colors' as colors;

#mainSocialLinks{
    background-image: url(/images/desgins/heroBackground.png);
    width: 100%;
    border: red 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    #mainSocialLinksLeft{
        display: flex;
        border: greenyellow 2px solid;
        justify-content: center;
        align-items: center;
        gap: 20px;

        #mainSocialLinksLeftLine{
            background-color: map-get(colors.$colors, light-purple);
            width: 80px;
            height: 5px;
            border-radius: 0px 20px 20px 0px;
        }

        #mainSocialLinksLeftNavUl{
            display: flex;
            gap: 20px;
        }

        #mainSocialLinksLeftNavUl > li > a{
            color: white;
        }
    }
}