<section id="mainSocialLinks">
    <div id="mainSocialLinksLeft">
        <div id="mainSocialLinksLeftLine"></div>
        <nav id="mainSocialLinksLeftNav">
                <a id="mainSocialLinksLeftNavGitHub" href="https://github.com/hello90343" target="_blank"></a>
                <a id="mainSocialLinksLeftNavMail" href="mailto:gregor.za@web.de" target="_blank"></a>
                <a id="mainSocialLinksLeftNavIndeed" href="https://de.indeed.com/?from=gnav-employer--post-press--jobseeker" target="_blank"></a>
                <a id="mainSocialLinksLeftNavMailInfo" href="mailto:gregor.za@web.de">gregor.za@web.de</a>
        </nav>
    </div>

    <div id="mainSocialLinksRight">
        <p>{{'sls.Nach unten scrollen' | translate}}</p>
        <p>&rarr;</p>
    </div>
</section>