<section id="mainFormular">
    <div id="mainFormularTop">
    <div id="mainFormularTopLine"></div>
    <h2>Contact</h2>
    </div>
    <div id="mainFormularContent">
    <div id="mainFormularContentLeft">
        <div id="mainFormularContentLeftBox">
        <h3>Hast du ein Problem zu lösen?</h3>
        <p>Ermutige Leute, dich zu kontaktieren und zu beschreiben, für welche Rolle du dich interessierst. Zeige, dass du mit deiner Arbeit einen Mehrwert für ihre Projekte schaffen kannst.</p>
        <p>Brauchst du ein Frontend-Entwickler? <span>Kontaktiere mich!</span></p>
        </div>
    </div>
    <div id="mainFormularContentRight"></div>
    </div>
</section>