@use '../../../styles/abstract/colors' as colors;

#mainFormular{
    display: flex;
    flex-direction: column;
    #mainFormularTop{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        #mainFormularTopLine{
            width: 500px;
            height: 5px;
            border-radius: 0px 10px 10px 0px;
            background-color: map-get(colors.$colors, light-purple);
        }
        h2{
            color: map-get(colors.$colors, white);
            font-family: inter;
            font-size: 120px;
            font-weight: 700;
        }
    }
    #mainFormularContent{
        display: flex;
        margin-top: 30px;
        #mainFormularContentLeft{
            display: flex;
            width: 50%;
            height: 800px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            #mainFormularContentLeftBox{
                width: 80%;
                display: flex;
                flex-direction: column;
                h3{
                    color: map-get(colors.$colors, white);
                    font-size: 30px;
                    font-family: inter;
            }
                p{
                    color: map-get(colors.$colors, white);
                    font-size: 20px;
                    margin-top: 20px;
                    font-family: inter;
                    font-weight: 100;
                    span{
                        font-weight: 500;
                    }
            }
            }
        }
        #mainFormularContentRight{
            display: flex;
            height: 100%;
        }
    }
}