<div id="aboutMain">
    <div id="aboutMainLeft">
        <h2>{{'about.Über mich' | translate}}</h2>
        <p>{{'about.TextOne' | translate}}</p>
        <div id="aboutMainLeftTop">
            <div id="aboutMainLeftTopImg"></div>
            <p>{{'about.TextTwo' | translate}}</p>
        </div>
        <div id="aboutMainLeftMiddle">
            <div id="aboutMainLeftMiddleImg"></div>
            <p>{{'about.TextThree' | translate}}</p>
        </div>
        <div id="aboutMainLeftBottom">
            <div id="aboutMainLeftBottomImg"></div>
            <p>{{'about.TextFour' | translate}}</p>
        </div>
    </div>
    <div id="aboutMainRight">
        <div id="aboutMainRightImg"></div>
        <div id="aboutMainRightLine"></div>
    </div>
</div>