<div id="aboutMain">
    <div id="aboutMainLeft">
        <h2>About me</h2>
        <p>Ich interessiere mich für IT und Programmierung, weil ich gerne Probleme löse und digitale Lösungen entwickle, die im Alltag helfen können. Meine Motivation ist es, meine Fähigkeiten kontinuierlich zu verbessern und mit neuen Technologien Schritt zu halten.</p>
        <div id="aboutMainLeftTop">
            <div id="aboutMainLeftTopImg"></div>
            <p>Ich lebe derzeit in meiner aktuellen Region und bin offen für verschiedene Arbeitsmodelle, einschließlich Remote-Arbeit. Bei passenden Möglichkeiten kann ich mir auch einen Umzug vorstellen.</p>
        </div>
        <div id="aboutMainLeftMiddle">
            <div id="aboutMainLeftMiddleImg"></div>
            <p>Ich bin offen dafür, neue Technologien und Methoden kennenzulernen und arbeite regelmäßig daran, meine Kenntnisse zu erweitern und praktische Erfahrungen zu sammeln.</p>
        </div>
        <div id="aboutMainLeftBottom">
            <div id="aboutMainLeftBottomImg"></div>
            <p>Bei Herausforderungen versuche ich, ruhig und strukturiert an Probleme heranzugehen und Schritt für Schritt eine Lösung zu finden. Dabei helfen mir analytisches Denken, Ausdauer und die Zusammenarbeit mit anderen, um gute und effiziente Lösungen zu entwickeln.</p>
        </div>
    </div>
    <div id="aboutMainRight">
        <div id="aboutMainRightImg"></div>
        <div id="aboutMainRightLine"></div>
    </div>
</div>