@use '../../../styles/abstract/colors' as colors;

#aboutMain{
    display: flex;

    h2{
    color: map-get(colors.$colors, white);
    font-family: 'inter';
    font-size: 60px;
    font-weight: 700;
}

#aboutMainLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    p{
        color: map-get(colors.$colors, white);
        font-family: 'inter';
        font-size: 13px;
        font-weight: 200;
        width: 50%;
    }

    #aboutMainLeftTop{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 80%;

        #aboutMainLeftTopImg{
            width: 40px;
            height: 40px;
            background-image: url(/images/icons/location.png);
            background-position: center;
            background-size: contain;
            transition: transform 0.6s ease-out, opacity 0.6s ease-out;
            cursor: pointer;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    #aboutMainLeftMiddle{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 80%;
        cursor: pointer;

        #aboutMainLeftMiddleImg{
            width: 40px;
            height: 40px;
            background-image: url(/images/icons/lamp.png);
            background-position: center;
            background-size: contain;
            transition: transform 0.6s ease-out, opacity 0.6s ease-out;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    #aboutMainLeftBottom{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 80%;
        cursor: pointer;

        #aboutMainLeftBottomImg{
            width: 40px;
            height: 40px;
            background-image: url(/images/icons/puzzle.png);
            background-position: center;
            background-size: contain;
            transition: transform 0.6s ease-out, opacity 0.6s ease-out;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

#aboutMainRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    #aboutMainRightImg{
        border: map-get(colors.$colors, light-green) 2px solid;
        width: 400px;
        height: 400px;
        border-radius: 900px;
        background-image: url(/images/desgins/pictureTwo.png);
        background-position: center;
        background-size: cover;
    }

    #aboutMainRightLine{
        width: 30%;
        height: 2px;
        background-color: map-get(colors.$colors, light-green);
    }
}
}
