<div id="bodyHeader">
    <div id="leftHeader">
    <h1>Gr<span id="leftHeaderE">e</span>g<span id="leftHeaderO">o</span>r</h1>
    </div>
    <div id="rightHeader">
    <nav id="navLeftHeader">
        <a href="">{{'greeting.hi' | translate}}</a>
        <a href="">{{'greeting.hi' | translate}}</a>
        <a href="">{{'greeting.hi' | translate}}</a>
    </nav>
<nav id="navRightHeader">
  <!-- Wenn currentLang DE ist, dann active hinzufügen -->
  <!-- [class.active] wartet bis currentLang DE ist -->
  <!-- [class.active] ist nicht gleich class -->
  <button
  id="navRightHeaderDE"
  [class.active]="currentLang === 'DE'"
  (click)="translatorSwitch('DE')"
  (click)="useLanguage('de')"
  >
    DE
  </button>

  <button
    id="navRightHeaderEN"
    [class.active]="currentLang === 'EN'"
    (click)="translatorSwitch('EN')"
    (click)="useLanguage('en')">
    EN
  </button>
</nav>
    </div>
</div>
