<div id="bodyHeader">
    <div id="leftHeader">
    <h1>Gr<span id="leftHeaderE">e</span>g<span id="leftHeaderO">o</span>r</h1>
    </div>
    <div id="rightHeader">
    <nav id="navLeftHeader">
        <a href="">About me</a>
        <a href="">Skills</a>
        <a href="">Portfolio</a>
    </nav>
<nav id="navRightHeader">
  <!-- Wenn currentLang DE ist, dann active hinzufügen -->
  <!-- [class.active] wartet bis currentLang DE ist -->
  <!-- [class.active] ist nicht gleich class -->
  <button
  id="navRightHeaderDE"
  [class.active]="currentLang === 'DE'"
  (click)="translatorSwitch('DE')"
  >
    DE
  </button>

  <button
    id="navRightHeaderEN"
    [class.active]="currentLang === 'EN'"
    (click)="translatorSwitch('EN')">
    EN
  </button>
</nav>
    </div>
</div>
