<section id="mainHero">
    <div id="mainHeroLeft">
        <img src="/images/IMG_1739.jpg" alt="picture of the developer">
    </div>

    <div id="mainHeroRight">
        <p id="mainHeroRightLeft">Ich bin</p>
        <div id="mainHeroRightRight">
        <header id="mainHeroRightRightTop">
            <p id="mainHeroRightRightTopName">Gregor Zarecnyj</p>
            <p id="mainHeroRightRightTopPosition">FRONTEND DEVELOPER</p>
        </header>
        <button id="mainHeroRightLeftBtn">Lass uns reden</button>
        </div>
    </div>
</section>