#app-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

app-header{
  width: 100%;
  max-width: 1440px;
}

app-hero{
    width: 100%;
    max-width: 1440px;
}

app-social-links-section{
  width: 100%;
  max-width: 1440px;
}

app-about-section{
  width: 100%;
  max-width: 1440px;
}

app-skills-section{
  width: 100%;
  max-width: 1440px;
}

app-projects{
  width: 100%;
  max-width: 1440px;
}

app-experiences{
  width: 100%;
  max-width: 1440px;
}

app-formular{
  width: 100%;
  max-width: 1440px;
}

app-footer{
  width: 100%;
}
}