<section id="projectsMain">
<div id="projectsMainTop">
<div id="projectsMainTopLineLeft"></div>
<h2>{{'projects.Titel' | translate}}</h2>
<div id="projectsMainTopLineRight"></div>
</div>
<div id="projectsMainInfo">
    <p>{{'projects.TextOne' | translate}}</p>
</div>
<div id="projectsMainProjects">
    <div id="projectsMainProjectsJoin">
        <div id="projectsMainProjectsJoinLeft"></div>
        <div id="projectsMainProjectsJoinRight">
            <h3>Join</h3>
            <p>Angular | TypeScript | HTML | CSS | Firebase</p>
            <p id="projectsMainProjectsJoinRightText">{{'projects.TextTwo' | translate}}</p>
            <div>
                <button id="projectsMainProjectsJoinRightBtnLiveTest"><a href="#">Live test</a></button>
                <button id="projectsMainProjectsJoinRightBtnGithub"><a href="#">Github</a></button>
            </div>
        </div>
    </div>
    <div id="projectsMainProjectsPoloLoco">
        <div id="projectsMainProjectsPoloLocoLeft">
            <h3>ElPoloLoco</h3>
            <p>JavaScript | HTML | CSS </p>
            <p id="projectsMainProjectsPoloLocoRightText">{{'projects.TextThree' | translate}}</p>
            <div>
                <button id="projectsMainProjectsPoloLocoRightBtnLiveTest"><a href="#">Live test</a></button>
                <button id="projectsMainProjectsPoloLocoRightBtnGithub"><a href="#">Github</a></button>
            </div>
        </div>
        <div id="projectsMainProjectsPoloLocoRight"></div>
    </div>
</div>
</section>