<section id="projectsMain">
<div id="projectsMainTop">
<div id="projectsMainTopLineLeft"></div>
<h2>Portfolio</h2>
<div id="projectsMainTopLineRight"></div>
</div>
<div id="projectsMainInfo">
    <p>Entdecke hier eine Auswahl meiner Arbeiten – interagiere mit den Projekten, um meine Fähigkeiten in Aktion zu erleben.</p>
</div>
<div id="projectsMainProjects">
    <div id="projectsMainProjectsJoin">
        <div id="projectsMainProjectsJoinLeft"></div>
        <div id="projectsMainProjectsJoinRight">
            <h3>Join</h3>
            <p>Angular | TypeScript | HTML | CSS | Firebase</p>
            <p id="projectsMainProjectsJoinRightText">Task-Manager, inspiriert vom Kanban-System. Erstelle und organisiere Aufgaben per Drag-and-Drop, und weise Nutzer sowie Kategorien zu.</p>
            <div>
                <button id="projectsMainProjectsJoinRightBtnLiveTest"><a href="#">Live test</a></button>
                <button id="projectsMainProjectsJoinRightBtnGithub"><a href="#">Github</a></button>
            </div>
        </div>
    </div>
    <div id="projectsMainProjectsPoloLoco">
        <div id="projectsMainProjectsPoloLocoLeft">
            <h3>ElPoloLoco</h3>
            <p>JavaScript | HTML | CSS </p>
            <p id="projectsMainProjectsPoloLocoRightText">Ein einfaches Jump-and-Run-Spiel mit objektorientiertem Ansatz. Hilf El Polo Loco, Münzen und Giftflaschen zu finden, um gegen die Gegnern zu kämpfen.</p>
            <div>
                <button id="projectsMainProjectsPoloLocoRightBtnLiveTest"><a href="#">Live test</a></button>
                <button id="projectsMainProjectsPoloLocoRightBtnGithub"><a href="#">Github</a></button>
            </div>
        </div>
        <div id="projectsMainProjectsPoloLocoRight"></div>
    </div>
</div>
</section>