$background-blue: #141D2F;
$black: black;
$lightGreen: #70E61C;
$lightPurple: #9747FF;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: $background-blue;

}

a {
    text-decoration: none;
    color: $black;
}