<section id="mainExperiences">
    <div id="mainExperiencesContent">
    <div id="mainExperiencesContentLeft">
        <div id="mainExperiencesContentBox"></div>
    </div>
    <div id="mainExperiencesContentRight"></div>
    </div>
    <div id="mainExperiencesContentSelection">
        <div id="mainExperiencesContentSelectionBack">&#8592;</div>
        <div class="mainExperiencesContentSelectionPoint"></div>
        <div class="mainExperiencesContentSelectionPoint"></div>
        <div class="mainExperiencesContentSelectionPoint"></div>
        <div id="mainExperiencesContentSelectionNext">&#8594;</div>
    </div>
</section>