<section id="skillsMain">
    <div id="skillsMainLeft">
        <div>
          <header id="skillsMainLeftHTMLImg"></header>
          <footer>HTML</footer>
        </div>
        <div>
          <header id="skillsMainLeftCSSImg"></header>
          <footer>CSS</footer>
        </div>
        <div>
          <header id="skillsMainLeftJSImg"></header>
          <footer>JavaScript</footer>
        </div>
        <div>
          <header id="skillsMainLeftTSImg"></header>
          <footer>TypeScript</footer>
        </div>
        <div>
          <header id="skillsMainLeftAngularImg"></header>
          <footer>Angular</footer>
        </div>
        <div>
          <header id="skillsMainLeftGitImg"></header>
          <footer>Git</footer>
        </div>
        <div>
          <header id="skillsMainLeftAPIImg"></header>
          <footer>REST-API</footer>
        </div>
        <div>
          <header id="skillsMainLeftScrumImg"></header>
          <footer>SCRUM</footer>
        </div>
        <div>
          <header id="skillsMainLeftMDImg"></header>
          <footer>Material Design</footer>
        </div>
        <div>
          <header id="skillsMainLeftCLImg"></header>
          <footer id="skillsMainLeftCLFooter">{{'skills.TextSeven' | translate}}</footer>
        </div>
    </div>
    <div id="skillsMainRight">
      <div id="skillsMainRightBox">
      <div>
        <h2>{{'skills.Titel' | translate}}</h2>
        <div></div>
      </div>
      <p>{{'skills.TextOne' | translate}}</p>
      <h5>{{'skills.TextTwo' | translate}} <span>{{'skills.TextThree' | translate}}</span> {{'skills.Fragezeichen' | translate}}</h5>
      <p>{{'skills.TextFour' | translate}}</p>
      <p>{{'skills.TextFive' | translate}}</p>
      <div id="skillsMainRightBoxBtn">
      <button>{{'skills.TextSix' | translate}}</button>
      </div>
    </div>
    </div>
</section>