@use '../../../styles/abstract/colors' as colors;

#mainFooter{
    height: 300px;
    border-top: 4px solid transparent;
    background:
    linear-gradient(map-get(colors.$colors, background-color, colors.$colors, background-color), #0b1220) padding-box,
    linear-gradient(90deg, #8a2be2, #c084fc, #8a2be2) border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    #mainFooterBox{
        display: flex;
        width: 100%;
        max-width: 1440px;
        height: 100%;
        #mainFooterBoxLeft{
            display: flex;
            flex-direction: column;
            width: 33.33%;
            height: 100%;
            justify-content: center;
            padding-left: 120px;
        h2{
            color: map-get(colors.$colors, white);
            font-family: 'inter';
            font-weight: 700;
            font-size: 60px;
            cursor:cell;
        }

        p{
            color: map-get(colors.$colors, white);
            font-family: inter;
            font-weight: 300;
        }

        #mainFooterBoxE{
            font-weight: bold;
             background: linear-gradient(
              to top,
              map-get(colors.$colors, white) 50%,
              map-get(colors.$colors, light-purple) 50%
            );
            background-clip: text;
            color: transparent;
        }

        #mainFooterBoxO{
            color: map-get(colors.$colors, light-purple);
            font-weight: bold;
             background: linear-gradient(
              to right,
              map-get(colors.$colors, white) 50%,
              map-get(colors.$colors, light-green) 50%
            );
            background-clip: text;
            color: transparent;
        }
    }
    #mainFooterBoxMiddle{
        width: 33.33%;
        color: map-get(colors.$colors, white);
        font-family: inter;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    #mainFooterBoxRight{
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        #mainFooterBoxRightNav{
            display: flex;
            gap: 30px;
            a{
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: contain;
            }
            #mainFooterBoxRightNavGithub{
                background-image: url(/images/icons/GitHubIcon.png);
                &:hover{
                    transform: scale(1.2);
                }
            }
            #mainFooterBoxRightNavMail{
                background-image: url(/images/icons/EMailIcon.png);
                &:hover{
                    transform: scale(1.2);
                }
            }
            #mainFooterBoxRightNavIndeed{
                background-image: url(/images/icons/indeedIcon.png);
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    }
}