<section id="mainFooter">
    <div id="mainFooterBox">
    <div id="mainFooterBoxLeft">
       <h2>Gr<span id="mainFooterBoxE">e</span>g<span id="mainFooterBoxO">o</span>r</h2>
       <p>Legal Notice</p>
    </div>
    <div id="mainFooterBoxMiddle">
        <p>&copy; Gregor Zarecnyj 2026</p>
    </div>
    <div id="mainFooterBoxRight">
        <nav id="mainFooterBoxRightNav">
            <a id="mainFooterBoxRightNavGithub" href="https://github.com/hello90343" target="_blank"></a>
            <a id="mainFooterBoxRightNavMail" href="mailto:gregor.za@web.de" target="_blank"></a>
            <a id="mainFooterBoxRightNavIndeed" href="https://de.indeed.com/?from=gnav-employer--post-press--jobseeker" target="_blank"></a>
        </nav>
    </div>
    </div>
</section>